﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form method="post">

    <label>Name</label>
    <input name="Name" />

    <br />

    <label>Description</label>
    <input name="Description" />

    <br />

    <label>Image</label>
    <input id="imageUpload" name="Image" type="file" />
    
    <div class="thumb">
        <img id="categoryImage" />
    </div>
    <br />

    <button type="submit">Save</button>
</form>

<script>
    $("#imageUpload").change(function () {
        var formData = new formData();
        var totalFiles = Element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = Element.file[i];
            formData.append("photo", file);
        }


        $.ajax({
            type: "POST",
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
        .done(function (response) {
            console.log(response);
            if(response.Success == true)
            {
                $("#categoryImage").attr("src", response.ImageURL);
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });
</script>